$colors: (
	common: (white: #ffffff,
		black: #000000,
	),
	heading: (primary: #0c1e21,
		secondary: #3e3e3e,
	),
	text: (body: #364e52,
		body-2: #a9b8b8,
		body-3: #67787a,
		body-4: #18292c,
		body-5: #ffffffcc,
	),
	theme: (primary: #4361ee,
		bg: #eef2ff,
		bg-2: #e0e7ff,
		bg-3: #202e30,
		dark: #0c1e21,
		dark-2: #18292c,
		dark-3: #364e52,
		dark-4: #67787a,
		dark-5: #676e7a,
		deep-blue: #020828,
		hero-gradient: linear-gradient(90deg, rgba(#020828, 1) 20%, rgba(#020828, 0.4) 60%, rgba(#020828, 0.1) 100%),
	),
	red: (1: #ff0000,
	),
	grey: (1: #ecf0f0,
		2: #a9b8b8,
		3: #ffffff1a,
	),
	border: (1: #c9d1d1,
		2: #313d3d,
		3: #ffffff26,
		4: #ffffff33,
		5: #1e8a8a26,
	),
);